body {
    text-align: center;
    background-color: pink;
}
.title, .opening-quote, .op-name, .main-quote {
    color: white;
}
.title {
    text-decoration: none;
}
.title:hover {
    color: black;
}
.prophet {
    block-size: 240px;
}
.main-quote {
    max-width: 300px;
    margin: 0 auto;
}


.principles {
    text-align: left;
    max-width: 550px;
    margin: 0 auto;
}
.opening-quote {
    max-width: 500px;
    margin: 0 auto;
}
.title {
    font-size: 50px;
}
.bottom {
    max-width: 400px;
    margin: 0 auto;
}