

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
#backround {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color:rgba(23, 45, 63, 0.507);
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(48, 166, 187, 0.623);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover, .join:hover, .book:hover {
    background-color: rgb(32, 61, 85);
    color: white;
}
.book, .join {
    background-color: rgba(255, 255, 0, 0.753);
    color: black;
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
#backround {
    background-color:rgba(8, 72, 116, 0.699);
}
.msg {
    background-color: rgba(48, 166, 187, 0.623);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color:rgba(48, 166, 187, 0.623);
}
.home-title {
    color: rgb(245, 250, 255);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
h4 {
    color: black;
}
.msg h2 {
    color:rgb(255, 255, 255);
}
.msg p {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a:hover {
    background-color:rgb(32, 61, 85);
    color: white;
}
.home-grid {
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logo {
    width: 80px;
}
a {
    color: white;
    text-decoration: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
#hero-msg h4 {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img, .mountains {
    width: 100%;

}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#river-hero-img {
    width: 100%;
    height: 660px;
}

.river-home-title {
    color: rgb(245, 250, 255);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 200px;
    
}
#river-hero-msg {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 100px;
    
}
#river-hero-msg h4, h1{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#river-hero-msg h1{
    font-size: 1000%;
}
.rivers-home-grid {
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}
.river-idaho-msg {
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: rgba(48, 166, 187, 0.623);
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-idaho {
    grid-column: 3/10;
    grid-row: 1/5;
    width: 100%;
    height: 75%;
    z-index: -1;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-utah {
    grid-column: 2/9;
    grid-row: 5/9;
    width: 100%;
    height: 100%;
    margin-top: -7%;
    z-index: -1;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-utah-msg {
    grid-column: 7/10;
    grid-row: 6/8;
    background-color: rgba(48, 166, 187, 0.623);
    padding: 35px;
    margin-top: -30%;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-arizona-msg {
    grid-column: 2/5;
    grid-row: 10/11;
    background-color: rgba(48, 166, 187, 0.623);
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-arizona {
    grid-column: 3/10;
    grid-row: 9/12;
    width: 100%;
    margin: 5%;
    z-index: -1;
    box-shadow: 5px 5px 10px #6f7364;

}
#river-hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid, #river-hero, .rivers-home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero, #river-hero {
        margin-top: 0;
    }
    #hero-msg, #river-hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title, .river-home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg, .river-arizona, .river-idaho, .river-utah, .river-arizona-msg, .river-idaho-msg, .river-utah-msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}