#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
#backround {
    height: 725px;
}
body {
    background-color:rgba(23, 45, 63, 0.507);
}
header {
    background-color: rgba(48, 166, 187, 0.623);
}
nav a:hover, .join:hover, .book:hover {
    background-color: rgb(32, 61, 85);
    color: white;
}
.book, .join {
    background-color: rgba(255, 255, 0, 0.753);
    color: black;
}
#backround {
    background-color:rgba(8, 72, 116, 0.699);
}
.msg {
    background-color: rgba(48, 166, 187, 0.623);
}
footer {
    background-color:rgba(48, 166, 187, 0.623);
}
.home-title {
    color: rgb(245, 250, 255);
}
h4 {
    color: black;
}
.msg h2 {
    color:rgb(255, 255, 255);
}
.msg p {
    color: black;
}
footer a:hover {
    background-color:rgb(32, 61, 85);
    color: white;
}
.home-grid {
    color: white;
}
.logo {
    width: 80px;
}
a {
    color: white;
    text-decoration: none;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}